:root{

    --bg:#D2C3F6;

    --card:#F5F0FF;

    --texto:#36255C;

    --botao:#36255C;

    --botaoTexto:white;
}

.dark{

    --bg:#36255C;

    --card:#4A3678;

    --texto:#FFFFFF;

    --botao:#D2C3F6;

    --botaoTexto:#36255C;
}

*{

    margin:0;
    padding:0;

    box-sizing:border-box;

    font-family:Segoe UI,sans-serif;
}

body{

    background:var(--bg);

    color:var(--texto);

    min-height:100vh;

    display:flex;

    flex-direction:column;

    transition:.3s;
}

header{

    padding:20px;

    text-align:center;
}

.acoes-topo{

    margin-top:15px;
}

main{

    width:min(1200px,95%);

    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:20px;

    padding:20px;
}

.card{

    background:var(--card);

    padding:20px;

    border-radius:12px;

    box-shadow:0 0 10px rgba(0,0,0,.1);
}

h2{

    margin-bottom:15px;
}

input,
select{

    width:100%;

    padding:10px;

    margin-bottom:10px;

    border:none;

    border-radius:8px;
}

button{

    background:var(--botao);

    color:var(--botaoTexto);

    border:none;

    padding:10px;

    border-radius:8px;

    cursor:pointer;
}

button:hover{

    opacity:.9;
}

ul{

    list-style:none;
}

.item{

    padding:12px;

    margin-bottom:10px;

    border-radius:8px;

    background:white;

    color:#222;
}

.concluido{

    text-decoration:line-through;

    opacity:.6;
}

.barra{

    width:100%;

    height:20px;

    background:#ccc;

    border-radius:20px;

    overflow:hidden;

    margin-top:10px;
}

#progresso{

    height:100%;

    width:0%;

    background:#27AE60;

    transition:.3s;
}

.imagemMotivacao{

    width:100%;

    border-radius:10px;

    margin-bottom:10px;
}

.assinatura{

    position:fixed;

    left:15px;

    bottom:15px;

    opacity:.12;

    font-weight:bold;

    pointer-events:none;
}

footer{

    text-align:center;

    padding:15px;

    font-size:12px;

    opacity:.6;
}

@media(max-width:768px){

    main{

        grid-template-columns:1fr;
    }
}
